.panel.panel-default
  - if notes.present?
    .panel-heading= t('.title')
    %ul.list-group
      - notes.each do |note|
        %li.list-group-item
          - if can? :destroy_note, game
            %a{href: game_note_path(game, note), data: {method: :delete, confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Sicher?'))}}
              %span.pull-right.glyphicon.glyphicon-trash
          %span= localize note.created_at
          %em= h note.text
  - else
    .panel-heading= t('.title_no_notes')
