[submodule "vagrant/cookbooks/rbenv"]
	path = vagrant/cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "vagrant/cookbooks/mysql"]
	path = vagrant/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "vagrant/cookbooks/ruby_build"]
	path = vagrant/cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "vagrant/cookbooks/vim"]
	path = vagrant/cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "vagrant/cookbooks/build-essential"]
	path = vagrant/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "vagrant/cookbooks/postgresql"]
	path = vagrant/cookbooks/postgresql
	url = https://github.com/cookbooks/postgresql.git
[submodule "vagrant/cookbooks/openssl"]
	path = vagrant/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "vagrant/cookbooks/heroku-toolbelt"]
	path = vagrant/cookbooks/heroku-toolbelt
	url = https://github.com/jimeh/chef-heroku-toolbelt.git
