- content_for :js_footer do
  :javascript
    $('.js-livescore').livescore( {type: 'game', interval: 45 } )

- if @show_jumbo
  .jumbotron
    %h1=t '.jumbotron.title'
    %p=t '.jumbotron.description'
    %p.text-muted=t '.jumbotron.usage'
- else
  - content_for :title, t('.title')
.page-header
  %h1=t '.title'
  %p.text-muted= t('games.info.reload_not_neccessary')
- if can? :create, Game
  .row
    .col-sm-12
      .well.well-sm= link_to t(".links.new_game"), new_game_path, {class: 'btn btn-big btn-primary'}
= render partial: 'games', locals: { games: @games }
