/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'bootstrap_and_overrides'
 *= require 'games'
 *= require 'notes'
 *= require 'scoreboard'
 *= require_self
 */

.livescore__main {
  margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .visible-xs-inline {
    display: inline-block !important;
  }
}

@media screen and (min-width: 768px) {
  .visible-xs-inline {
    display: none !important;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

form .form-actions {
  padding-top: 1em;
}

.navbar-avatar {
  float: left;
  display: inline-block;
}

.spacer-bottom {
  margin-bottom: 1em;
  .spacer-small {
    margin-bottom: 0.5em;
  }
  .spacer-xl {
    margin-bottom: 1.5em;
  }
}
