// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scoreboard__game {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.scoreboard__period {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.5em;
}

.scoreboard__location {
  min-height: 1.5em;
  text-align: center;
  line-height: 1.5em;
}

.scoreboard__team_images {
  padding-top: .5em;
  padding-bottom: .5em;
}

.scoreboard__team-image, .scoreboard__score {
  &.home {
    img {
      float: right;
    }
  }
  &.away {
    img {
      float: left;
    }
  }
}
.scoreboard__vs {
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
}

.scoreboard__actions {
  margin-top: 1em;
}