%footer.text-center#footer
  .container
    .row
      .col-12.col-lg-6.col-lg-offset-3
        &copy; CodeKenner 2014&ndash;2021
        %br
        &copy;
        %a(href="https://tkn-consulting.de" target="_blank")
          tkn-consulting
        2021
      .col-12.col-lg-3
        %ul.pull-right.links
          %li
            %a(href='/impressum')
              Impressum
          %li
            %a(href='/datenschutz')
              Datenschutz
          %li
            %a(href='/datenloeschung')
              Datenlöschung
          %li
            %a(href='/nutzungsbedingungen')
              Nutzungsbedingungen