!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    = stylesheet_link_tag "http://#{request.host_with_port}/assets/application.css", :media => "all"

  %body
    .container
      = yield
